# Labels added to the pod
podLabels: {}

# Annotations added to the pod
podAnnotations: {}

image:
  repository: docker.elastic.co/cloud-ci/k8s-arch/elasticsearch-k8s-metrics-adapter
  tag: "latest"

# replicaCount is the number of operator pods to run.
replicaCount: 1

resources:
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    cpu: "1"
    memory: 1Gi

runAsUser: "1111"

logVerbosity: "1"

env: []

envFrom:
  - secretRef:
      name: hpa-elasticsearch-credentials

## config holds the metrics adapter configuration.
config:
  metricServers:
    - name: k8s-observability-cluster
      serverType: elasticsearch
      clientConfig:
        host: ${HPA_ELASTICSEARCH_HOST}
        authentication:
          username: ${HPA_ELASTICSEARCH_USERNAME}
          password: ${HPA_ELASTICSEARCH_PASSWORD}
        tls:
          insecureSkipTLSVerify: true
      metricSets:
        - indices: [ 'metrics-*' ]
        - indices: [ 'metricbeat-*' ]

podDisruptionBudget:
  # Specifies if PodDisruptionBudget should be enabled.
  # When enabled, minAvailable or maxUnavailable should also be defined.
  enabled: false
  minAvailable:
  maxUnavailable: 1

# tolerations defines the node tolerations.
tolerations: []